body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    /* Add shadow effect */
}

.header-left {
    display: flex;
    align-items: center;
}

.header-right {
    text-align: right;
}

h1 {
    color: #333;
    margin-right: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 40px;
}

nav ul li a {
    text-decoration: none;
    color: #333;

}

nav ul li a:hover {

    color: #0b9bee;

}

.search-form input[type="text"] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;

}

.search-form button {
    padding: 8px 15px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #0056b3;
}

article {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;

}

.main {
    max-width: 800px;
    margin: 20px auto;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 300px;
    height: 200px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    /* Add shadow effect to images */
}