/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Add shadow effect */
}

.header-left {
    display: flex;
    align-items: center;
}

.header-right {
    text-align: right;
}

h1 {
    color: #333;
    margin-right: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    margin-left: 15px;
}

nav ul li a:hover {
    color: #0e9dc9;

}

.search-form input[type="text"] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 20px;
}

.search-form button {
    padding: 8px 15px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #0056b3;
}


main {
    padding: 20px;
}

article {
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border-top: 6px solid #76fda8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border-bottom: none;
    width: 70%;
    height: 30vh;


}



footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}